<div class="row">
	<div class="col">
		<form [formGroup]="boardGroup" (ngSubmit)="processForm()">
			<div class="form-group required">
				<label for="title">Title</label>
				<input id="title" class="form-control" type="text" 
						[ngClass]="{'is-invalid': !isControlValid('title')}"
						placeholder="Board's title" formControlName="title">
				<div class="invalid-feedback">Title must be longer than 3 characters</div>
			</div>
			<div class="form-group required">
				<label for="createdBy">Created By</label>
				<input id="createdBy" class="form-control" type="email" 
						[ngClass]="{'is-invalid': !isControlValid('createdBy')}"
						placeholder="Owner's email" formControlName="createdBy">
				<div class="invalid-feedback">Please enter a valid email</div>
			</div>
			<div class="form-group">
				<label for="comments">Comments</label>
				<textarea id="comments" class="form-control" rows="5" 
							placeholder="Comments" formControlName="comments"></textarea>
			</div>
			<div class="d-flex justify-content-between">

				<ng-container *ngTemplateOutlet="!!submitBtn? customSubmit: defaultSubmit">
				</ng-container>

				<div>
					<button class="btn btn-dark mr-2" type="button" (click)="cancel()">
						Cancel
						<i class="fas fa-window-close ml-1"></i>
					</button>
					<button class="btn btn-warning" type="button" (click)="addCard()">
						Add Card
						<i class="fas fa-list-ol ml-1"></i>
					</button>
				</div>
			</div>
			<div class="mt-4 d-flex justify-content-between align-items-center" 
					*ngIf="cardsArray.controls.length <= 0">
				<h3>Add some cards to your board</h3>
				<i class="far fa-hand-point-up fa-2x"></i>
			</div>
			<table class="table mt-4" *ngIf="cardsArray.controls.length > 0">
				<thead>
					<tr>
						<th class="required">Description</th>
						<th>Priority</th>
						<th></th>
					</tr>
				</thead>
				<tbody formArrayName="cards">
					<tr *ngFor="let c of cardsArray.controls; let idx = index" 
								[formGroup]="c" @fadeInOut>
						<td>
							<input class="form-control" type="text" 
									[ngClass]="{'is-invalid': !isControlValid('description', idx)}"
									placeholder="Card's description" formControlName="description">
						</td>
						<td>
							<select class="form-control" formControlName="priority">
								<option value="0">Low</option>
								<option value="1">Medium</option>
								<option value="2">High</option>
							</select>
						</td>
						<td>
							<button class="btn btn-danger" type="button" (click)="removeCard(idx)">
								<i class="fas fa-trash-alt"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>


<ng-template #defaultSubmit>
	<button class="btn btn-primary" type="submit" 
		[disabled]="boardGroup.invalid">
		Create
		<i class="far fa-calendar-plus ml-1"></i>
	</button>
</ng-template>

<ng-template #customSubmit>
	<ng-content></ng-content>
</ng-template>
